
<section class="container">
	<h1>Edit my profile {userProfile.name}</h1>
	<ul>
		<li>Name:   {userProfile.name}</li>
		<li>Email:  {userProfile.email}</li>
		<li>About me:  {userProfile.aboutMe}</li>
		<f:debug>{<userProfile></userProfile>}</f:debug>
		<f:if condition="{showEditButton}" >
			<f:link.action action="edit" arguments="{userProfile:userProfile}" class="btn btn-primary" >Edit your profile</f:link.action>

			<f:form action="update" name="userProfile" object="{userProfile}">
				<f:form.checkbox value="{userProfile.publicProfile}" property="publicProfile"></f:form.checkbox>
				<label for="publicProfile">show my profile page</label></br>
				<table>
					<thead>
					<td>show your data to </td>
					<td>everyone</td>
					<td>community</td>
					<td>teams</td>
					</thead>
					<f:for each="{privacySettings}" as="privacySetting" key="privacySettingValue">
						<tr>
							<td>{privacySettingValue}</td>
							<td>{privacySetting.public}</td>
							<td>{privacySetting.authenticated}</td>
							<td>{privacySetting.groups}</td>
						</tr>
					</f:for>
				</table>
				<f:link.action class="btn btn-secondary" action="edit" arguments="{userProfile:userProfile}">Edit privacy settings</f:link.action>
			</f:form>
		</f:if>

	</ul>
</section>
