<section class="container">
	<f:form action="privacyUpdate" objectName="user" object="{user}">
		<h1>My privacy settings</h1>
		<p>You can control, which data are shown to whom:</p>
		<ul>
			<li><strong>everyone</strong>: Everyone in the web</li>
			<li><strong>community</strong>: Everyone who is logged in with a typo3.org user account</li>
			<li><strong>teams</strong>: Only the members of the teams, you are belonging to</li>
		</ul>
		<table class="table table-striped">
			<thead>
			<td>show your data to</td>
			<td>everyone</td>
			<td>community</td>
			<td>teams</td>
			</thead>
			<f:for each="{privacySettings}" as="privacySetting" key="privacySettingValue">
				<tr>
					<td>{privacySettingValue}</td>
					<td>
						<f:form.checkbox
							   checked="{privacySetting.public}"
							   value="1"
							   id="userprofile_{privacySettingValue}_public"
							   name="privacy[{privacySettingValue}][public]" />
					</td>
					<td>
						<f:form.checkbox
							   checked="{privacySetting.authenticated}"
							   value="1"
							   id="userprofile_{privacySettingValue}_authenticated"
							   name="privacy[{privacySettingValue}][authenticated]" />
					</td>
					<td>
						<f:form.checkbox
							   checked="{privacySetting.groups}"
							   value="1"
							   id="userprofile_{privacySettingValue}_groups"
							   name="privacy[{privacySettingValue}][groups]" />
					</td>
				</tr>
			</f:for>
		</table>
		<f:form.submit value="Update" class="btn btn-success">Update</f:form.submit>
	</f:form>
</section>
